@import url('../resources/fonts/segoeuib.ttf');

#cardsContainer {
    grid-column: DEPART-ARRIVE / ENDmain;
    grid-row: TOPmain / BOTTOMmain;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.cards {
    display: flex;
    height: 180px;
    width: 150px;
    flex-direction: column;
    border-radius: 25px;
    margin: 12px 0;
    box-shadow: 0 0 20px rgba(43, 43, 43, 0.24)
}

.card_header {
    display: flex;
    height: 35px;
    border-radius: 25px 25px 0px 0px;
    flex-direction: column;
    justify-content: center;
}

.card_body {
    display: flex;
    background: white;
    height: 200px;
    border-radius: 0px 0px 25px 25px;
    flex-direction: column;
    text-align: center;
}

#departs_CardBG {
    height: 20%;
    background: rgb(64, 180, 165);
}
#departs_CardInfo {
    height: 80%;
}

#arrives_CardBG {
    height: 20%;
    background: rgb(231, 158, 98);
}
#arrives_CardInfo {
    height: 80%;
}

.card_title {
    color: white;
    text-transform: uppercase;
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
    font-size: large;
    align-self: center;
    text-align: center;
    margin: 0;
    padding: 2px;
}

.divFor_cardBusStop {
    display: flex;
    height: 80%;
    align-items: center;
    justify-content: center;
    color: rgb(80, 80, 80);
    padding: 12px;
}
.cardBusStop {
    margin: 0;
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
}
.cardTime {
    margin: 0;
    height: 20%;
    padding: 0 12px 20px 12px;
    color: rgb(0, 0, 0);
}

#triangles {
    height: auto;
}