@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');

/* ROUTE CIRCLE */
.route {
	justify-self: center;
	align-content: center;
    display: flex;
    width: auto;
    height: auto;
}

.circle {
    grid-row: inherit;
    border-radius: 50%;
    width: inherit;
    height: inherit;
}

.route_number {
    margin: 0;
    width: auto;
    align-self: baseline;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    /* transform: translateY(-15%); */
}

#main_circle {
	grid-column: CIRCLEmain / DEPART-ARRIVE;
}

#main_backdrop {
    grid-column: STARTmain / DEPART-ARRIVE;
    grid-row: ROUTEmain / LOGO;
    border-radius: 0px 340px 340px 0px;
    background: white;
    box-shadow: 0px 0px 0px 1px solid red;
    margin: -10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

#side_backdrop {
    grid-column: CIRCLEmidSTART / CIRCLEmidEND;
    grid-row: TOPribbon / ROUTEribbonEND;
    border-radius: 0px 0px 210px 210px;
    background: rgb(143, 143, 143);
    margin: -10px;
    box-shadow: 0px 0px 0px 1px solid red;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    z-index: 3;
}

#route_main {
    width: 340px;
    height: 340px;
	align-self: center;
	grid-column: CIRCLEmain / DEPART-ARRIVE;
	grid-row: ROUTEmain / LOGO;
}

#route_side {
    width: 210px;
    height: 210px;
    align-self: center;
    grid-column: CIRCLEmidSTART / CIRCLEmidEND;
    grid-row: ROUTEribbon / ROUTEribbonEND;
    z-index: 4;
}

#route_main_number {
    font-size: 15em;
    color: white;
    text-align: center;
    height: 100%;
}

#route_side_number {
    font-size: 9em;
    color: #5c5c5c;
    z-index: 4;
}

#side_circle {
    grid-column: CIRCLEmidSTART / CIRCLEmidEND;
	grid-row: ROUTEribbon / ROUTEribbonEND;
    background: #868686;
    z-index: 5;
}

.arrivesIN_text {
    color: rgb(95, 95, 95);
}